[project]
	description = For building TWRP for Samsung Tab 4 7.0 ONLY
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YAJAT (YAJATapps)
[access "refs/for/refs/*"]
	read = group user/YAJAT (YAJATapps)
	push = group user/YAJAT (YAJATapps)
	label-Code-Review = -2..+2 group user/YAJAT (YAJATapps)
	label-Verified = -1..+1 group user/YAJAT (YAJATapps)
	rebase = group user/YAJAT (YAJATapps)
	removeReviewer = group user/YAJAT (YAJATapps)
	submit = group user/YAJAT (YAJATapps)
[access "refs/heads/*"]
	read = group user/YAJAT (YAJATapps)
	create = group user/YAJAT (YAJATapps)
	push = +force group user/YAJAT (YAJATapps)
	pushMerge = group user/YAJAT (YAJATapps)
[access "refs/tags/*"]
	push = group user/YAJAT (YAJATapps)
	push = +force group user/YAJAT (YAJATapps)
